* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family:'Source Sans Pro', sans-serif;
} 

.menu {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 70px;
  margin-left: 252px;
}

.links-menu li{
  display: inline;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.links-menu {
  margin-right: 200px;
}

.works {
  width: 100%;
  height: 1000px;
  background-image: url('../img/section-1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
 
}

.info-works {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(180deg, #FFAD0000, #FFAD0080);
  display: flex;
  z-index: 1;
  margin: 0 auto;
}

.info-texts {
  max-width: 720px;
  margin-left: 252px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-texts p > span {
  font-size: 34px;
  position: absolute;
  margin-top: 10px;
}

.iphone-header {
  z-index: -1;
}

.iphone-header img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: bottom;
  padding-bottom: 100px;
}

.info-works p {
  color: white;
  margin-bottom: 25px;
}

.info-works p:first-child {
  font-weight: bold;
  font-size: 64px;
}

.button-more {
  width: 120px;
  background-color: #0071e3;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.about-seo {
  color: white;
  height: 845px;
  background-color: #ffad00;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.about-seo h1 {
  font-size: 48px;
}

.about-seo p + h1 {
  margin-bottom: 50px;
}

.about-seo > img {
  position: absolute;
  margin-left: 215px;
} 

.resume {
  max-width: 720px;
  position: relative;
  font-size: 18px;
  margin-right: 216px;
}

.resume-text {
  content: "";
  display: block;
  margin-bottom: 25px;
}

.seo-image {
  width: 700px;
  height: 790px;
  margin-left: 250px;
  margin-top: 55px;
}

.seo-image img {
  object-fit: none;
  object-position: top;
  width: 100%;
  height: 100%;
}

.discussion-about {
  width: 100%;
  height: 854px;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #efefef;
}

.discussion-about h1 {
  width: 600px;
  height: 125px;
  font-size: 48px;
  margin: 0 auto;
  margin-top: 150px;
}

.clients-comments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
}

.comments p {
  width: 400px;
  text-align: left;
  margin: 0 auto;
  opacity: 0.8;
  color: #959696;
}

.comments p:last-child {
  opacity: 1;
  font-weight: bold;
  margin-top: 25px;
}

.comments img {
  margin-bottom: 25px;
  margin-right: 250px;
}

.prices {
  background-color: #2f303a;
  width: 100%;
  height: 1200px;
  position: relative;
}

.prices h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 60px;
}

.info-price {
  width: 640px;
  position: relative;
  display: grid;
  grid-row: 1fr;
  margin: 0 auto;
}

.info-price ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.info-price ul li {
  color: white;
  list-style: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin-bottom: 100px;
}

.info-price ul li:nth-child(3){
  background: linear-gradient(270deg, #FFAD00, #FE375c);
  border-radius: 25px;
}

.table {
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-left: 120px;
  position: relative;
}

.table-prices tr {
  display: flex;
  width: 700px;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
}

.table-prices tr td {
  color: white;
  padding-bottom: 5px;
  padding-top: 15px;
}

.table img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.online-store {
  width: 100%;
  height: 1000px;
  color: white;
  background-color: #ffad00;
  text-align: center;
  position: relative;
}

.online-store h1 {
  max-width: 700px;
  font-size: 48px;
  margin: 0 auto;
  padding-top: 140px;
}

.online-store > .button-more {
  margin: 50px auto 30px auto;
}

.store {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin: 0 auto;
}

.store img:nth-child(2){
  margin-left: 35px;
  margin-right: 35px;
}

.drums::before{
  margin-left: 9px;
  font-size: 48px;
  font-weight: bold;
  content: "R$ 100";
  display: block;
  position: absolute;
  height: 60px;
  width: 260px;
  background: linear-gradient(270deg, #FFAD00, #FE375C);
  bottom: 85px;
  border-radius: 0px 20px 20px 0;
  z-index: 2;
}

.store::before {
  content: "";
  position: absolute;
  height: 300px;
  width: 100%;
  bottom: 0px;
  background: linear-gradient(180deg, #FFAD0000, #FFAD00);
  z-index: 1;
}

.drums-info{
  z-index: 3;
  font-size: 24px;
  position: absolute;
  bottom: 40px;
  margin-left: 40px;
}

.how-works {
  width: 100%;
  height: 748px;
  background-color: #efefef;
}

.how-works h1{
  width: 100%;
  font-size: 48px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 74px;
}

.services-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.how-info {
  margin: 0 auto;
  text-align: center;
  color: #959696;
}

.how-info p:first-child {
  font-size: 48px;
  color: #FFAD00;
  width: 110px;
  margin: 0 auto;
  border: 3px solid #ffad00;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 50%;
  margin-bottom: 21px;
}

.how-info p:nth-child(2){
  font-size: 36px;
  color: #959696;
  margin-bottom: 20px;
}

.how-info p:last-child {
  max-width: 350px;
}


